.muibar{
    color: black;
    background: white;
    margin-top: 0px;
    margin-left: 0px;
    width: 1920px;
    height: 106px;
    opacity: 1;
    background-color: #FFFFFF;
}

.Apptitle{
    height:auto;
    width:75%;
    font-size: 20px;
    text-align: left;
    margin-top: -40px;
    margin-left: 50px;
    background-color:rgb(252, 252, 252);
    color: green;
}

.logo{
    width:3%;
    height:40%;
    flex-direction: left;
    margin-top: 7px;
    margin-left: 10px;
}

.title{
    margin-top: -20px;
    margin-left: 50px;  
}